#container {
  display: flex;
  justify-content: center;
}

#red {
  height: 250px;
  width: 250px;
  margin: 10px;
  background-color: red;
  cursor: pointer;
}

#green {
  height: 250px;
  width: 250px;
  margin: 10px;
  background-color: green;
  cursor: pointer;
}

#blue {
  height: 250px;
  width: 250px;
  margin: 10px;
  background-color: blue;
  cursor: pointer;
}
